
//BUTTONS

@mixin button-base() {
  max-width: 100%;
  border-radius: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  transition-property: color, background-color, background-position, border-color, bgam-shadow, opacity, height;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;

  & > span {
    top: 2px;
    white-space: normal;
    display: inline;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 10;
  }

  &.disabled {
    cursor: default;
  }

  input {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    white-space: normal;
  }
}

@mixin button() {
  @include button-base();
  padding: 8px 20px 12px 20px;
  background-color: $color_3;
  color: $color_white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 40px;
}

@mixin button-icon() {
  padding: 0;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  & > span {
    @include screen-reader-text();
  }
}

.gam-button {
  @include button();

  &--icon {
    @include button-icon();


    &.--icon--price {
      background-image: url(images/prize.png);
    }
  }
}

// TOOLTIPS

.gam-tooltip {
  position: absolute;
  left: 0;
  bottom: 100%;
  background: $color_white;
  color: $color_1;
  border-radius: 100px;
  padding: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s linear, transform .3s linear;

  &__inner {
    background: $color_white;
    padding: 10px 14px;
    border-radius: 100px;
    position: relative;
    z-index: 10;
  }

  &.--visible {
    opacity: 1;
    pointer-events: auto;
    transform: translate(0, -20px);
  }

  &::after {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 12px solid $color_white;
    position: absolute;
    bottom: -12px;
    left: 60px;
    z-index: 1;
  }
}



// Scoreboard score

.gam-score {
  background: url(images/prize.png) 0 center no-repeat;
  background-size: contain;
  min-height: 50px;
  padding: 0 0 0 72px;

  &__label {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    display: block;
  }

  &__total {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
    color: $color_2;
    display: block;
  }
}

// Scoreboard Summary

.gam-scoreboard-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 2px;
  
  & > * {
    margin: 0 8px;
  }
}

.gam-score-badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  line-height: 1px;
  color: $color_2;
  font-weight: bold;
  background: url(images/prize.png) 10px center no-repeat $color_4;
  background-size: 40px auto;
  min-height: 56px;
  padding: 5px 10px 5px 64px;
  border-radius: 10px;

  #actividad .carousel-inner .item-container .header & {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.gam-prize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color_2;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;

  span {
    font-size: 30px;
    line-height: 1em;
    display: block;
  }
}

// MODALS

@keyframes sunrays {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }

  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(359deg);

    opacity: 0.5;
  }
}


@keyframes diamond {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes lock {
  0% {
    transform: translateY(-60px);
  }

  75% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(-40px);
  }
}


@keyframes unlock {
  0% {
    transform: translateY(-40px) rotateY(0deg);
  }

  75% {
    transform: translateY(-60px) rotateY(0deg);
  }

  100% {
    transform: translateY(-60px) rotateY(180deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.gam-modal {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color .25s linear;
  
  &.--open {
    background-color: fade-out($color_extradark, .35);
  }

  &__inner {
    background: $color_white;
    padding: 0;
    width: 520px;
    max-width: 90vw;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.25s ease, opacity .25s linear;
    transform: translateY(-200px);
    opacity: 0;

    .--open & {
      transform: translateY(0);
      opacity: 1;
    }
  

  }

  &__header {
    padding: 30px 30px 20px;
    text-align: center;
  }

  &__body {
    padding: 20px 30px 20px;
    text-align: center;
  }

  &__footer {
    padding: 30px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .gam-button {
      min-width: 134px;

      &:first-child {
        margin-right: auto;
      }
      &:last-child {
        margin-left: auto; 
      }
    }
  }

  &.gam-modal-prize {
    
    .gam-modal__header {
      padding-top: 60px;
    }

    .gam-modal__body {
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      flex-wrap: wrap;
      min-height: 180px;

      .gam-subtitle {
        min-width: 100%;
        position: relative;
        top: 60px;
      }
    }

    .gam-modal__inner {
      position: relative;
      &::before {
        content: "";
        background-image: url(images/prize-background.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 184px auto;
        animation: sunrays 4s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -102px;
        margin-top: -102px;
        width: 200px;
        height: 200px;
        z-index: 1;
      }
      &::after {
        content: '';
        display: block;
        width: 108px;
        height: 108px;
        background: url(images/prize.png) center center no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -54px;
        margin-left: -54px;
        pointer-events: none;
        z-index: 5;
        animation: diamond 2s linear infinite;
      }
    }
    
  }
  &.gam-modal-lock {

    .gam-modal__inner {
      position: relative;

      &::before {
        content: "";
        background-image: url(images/prize-background.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 184px auto;
        animation: sunrays 4s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -102px;
        margin-top: -102px;
        width: 200px;
        height: 200px;
        z-index: 1;
      }
    }

    .gam-modal__body {
      position: relative;
      z-index: 10;

      .gam-lock {
        min-height: 180px;

        &::after {
          content: '';
          position: absolute;
          top: 100px;
          left: 50%;
          transform: translate(-50%, 0);
          z-index: 10;
          width: 86px;
          height: 86px;
          background: url(images/lock-bottom.png) center bottom no-repeat;
          background-size: 86px auto;
        }

        &__top {
          display: block;
          background: url(images/lock-top.png) center bottom no-repeat;
          background-size: 72.5px auto;
          position: absolute;
          z-index: 1;
          top: 8px;
          left: 50%;
          margin-left: -36px;
          animation: unlock 0.5s linear forwards;
          animation-delay: .25s;
          transform-origin: 20px top;
          width: 75px;
          height: 164px;
        }
      }
    }
    &.--unlocked {
      .gam-subtitle {
        &::after {
          content: '';
          display: inline-block;
          width: 30px;
          height: 25px;
          background: url(images/prize.png) 0 center no-repeat;
          background-size: contain;
          margin: 2px 0 -2px 8px;
        }
      }
    }
    &.--locked {

      .gam-button {
        border: 1px solid $color_white;
      }

      .gam-modal__inner {
        background: $color_5;
        color: $color_white;

        .gam-title,
        .gam-subtitle {
          color: $color_white;
        }

        &::before {
          content: none;
        }
      }
      .gam-modal__body {
        .gam-lock {
          animation: pulse 2s linear infinite;
          animation-delay: .25s;
          min-height: 220px;
          margin-top: -100px;

          &__top {
            animation: lock 0.5s linear forwards;
          }
        }
      }
    }
  }

}
