.gam-page {
    &__header {
        background: $color_6;
        color: $color_white;
        margin-bottom: 100px;
        
        .gam-title {
            font-size: 30px;
            line-height: 1.2em;
            color: $color_white;
            margin: 0;
        }

        .gam-button {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: $color_7;
        }
        &__top {
            padding: 40px 0 40px;
            text-align: center;
            margin-bottom: 0;
            height: 116px;

            &:not(.--placeholder) {
                position: fixed;
                top: 0;
                left: 0;
                right: 6px;
                background: $color_6;
                z-index: 10;
            }
        }
        &__bottom {
            @include layout();
            position: relative;
            top: 40px;
            border: 4px solid $color_6;
            background: $color_white;
            padding: 20px;
            margin-top: -40px;
            color: $color_5;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            .gam-learning-kit {
                flex-grow: 2;
            }

            .gam-score {
                margin-right: 80px;
            }
        }
    }
}