.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

@font-face {
  font-display: swap;
  font-family: "DejaVu Sans";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/dejavu-sans/DejaVuSans-Bold-webfont.woff") format("woff"), url("fonts/dejavu-sans/DejaVuSans-Bold-webfont.ttf") format("truetype");
}
[class^=gam-] {
  font-family: "DejaVu Sans", sans-serif;
}

body.gam--locked #actividad {
  pointer-events: none !important;
}
body.gam--locked::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8990;
  pointer-events: all;
}

.gam-page {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #2e4469 #fff;
  scrollbar-width: thin;
}
.gam-page::-webkit-scrollbar {
  width: 6px;
}
.gam-page::-webkit-scrollbar-track {
  background: transparent;
}
.gam-page::-webkit-scrollbar-thumb {
  background-color: #2e4469;
  border-radius: 20px;
}

.gam-body-scoreboard .gam-page--scoreboard {
  opacity: 1;
  pointer-events: auto;
}

.gam-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 0.63;
  color: #e67300;
  margin: 0 0 30px;
}
.gam-title span {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 400;
  display: block;
  margin: 0 auto 12px;
}

.gam-title--2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.4em;
  margin: 0 0 2px;
}
.gam-title--2 span {
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  display: block;
  margin: 0 auto 12px;
}

.gam-title--3 {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4em;
  margin: 0 0 2px;
}
.gam-title--3 span {
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  display: block;
  margin: 0 auto 12px;
}

.gam-subtitle {
  font-size: 21px;
  line-height: 1.52;
  color: #2e4469;
  margin: 0;
}

#actividad .carousel-inner .item-container .revision-budget {
  display: none !important;
}

.gam-page__header {
  background: #18be34;
  color: #fff;
  margin-bottom: 100px;
}
.gam-page__header .gam-title {
  font-size: 30px;
  line-height: 1.2em;
  color: #fff;
  margin: 0;
}
.gam-page__header .gam-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #008a26;
}
.gam-page__header__top {
  padding: 40px 0 40px;
  text-align: center;
  margin-bottom: 0;
  height: 116px;
}
.gam-page__header__top:not(.--placeholder) {
  position: fixed;
  top: 0;
  left: 0;
  right: 6px;
  background: #18be34;
  z-index: 10;
}
.gam-page__header__bottom {
  max-width: 100%;
  width: 904px;
  margin: 0 auto;
  position: relative;
  top: 40px;
  border: 4px solid #18be34;
  background: #fff;
  padding: 20px;
  margin-top: -40px;
  color: #2e4469;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gam-page__header__bottom .gam-learning-kit {
  flex-grow: 2;
}
.gam-page__header__bottom .gam-score {
  margin-right: 80px;
}

.gam-button {
  max-width: 100%;
  border-radius: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  transition-property: color, background-color, background-position, border-color, bgam-shadow, opacity, height;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 20px 12px 20px;
  background-color: #395482;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 40px;
}
.gam-button > span {
  top: 2px;
  white-space: normal;
  display: inline;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 10;
}
.gam-button.disabled {
  cursor: default;
}
.gam-button input {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  white-space: normal;
}
.gam-button:hover:not(.disabled):not(disabled) {
  background-color: #2e4469;
}
.gam-button--icon {
  padding: 0;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.gam-button--icon > span {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.gam-button--icon.--icon--price {
  background-image: url(images/prize.png);
}

.gam-tooltip {
  position: absolute;
  left: 0;
  bottom: 100%;
  background: #fff;
  color: #b64a02;
  border-radius: 100px;
  padding: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s linear, transform 0.3s linear;
}
.gam-tooltip__inner {
  background: #fff;
  padding: 10px 14px;
  border-radius: 100px;
  position: relative;
  z-index: 10;
}
.gam-tooltip.--visible {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, -20px);
}
.gam-tooltip::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 12px solid #fff;
  position: absolute;
  bottom: -12px;
  left: 60px;
  z-index: 1;
}

.gam-score {
  background: url(images/prize.png) 0 center no-repeat;
  background-size: contain;
  min-height: 50px;
  padding: 0 0 0 72px;
}
.gam-score__label {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  display: block;
  color: #b64a02;
}
.gam-score__total {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  color: #e67300;
  display: block;
}

.gam-progressboard {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0 24px 0 0;
  color: #2e4469;
}
.gam-progressboard__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.gam-progressboard__title {
  margin: 0 6px 0 0;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2em;
}
.gam-progressboard__score {
  margin: 0 3px 0 6px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
}
.gam-progressboard__label {
  margin: 5px 0 0 3px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.62;
}

.gam-scoreboard-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 2px;
}
.gam-scoreboard-summary > * {
  margin: 0 8px;
}

.gam-score-badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  line-height: 1px;
  color: #e67300;
  font-weight: bold;
  background: url(images/prize.png) 10px center no-repeat #efefef;
  background-size: 40px auto;
  min-height: 56px;
  padding: 5px 10px 5px 64px;
  border-radius: 10px;
}
#actividad .carousel-inner .item-container .header .gam-score-badge {
  position: absolute;
  right: 10px;
  top: 10px;
}

.gam-prize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e67300;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.gam-prize span {
  font-size: 30px;
  line-height: 1em;
  display: block;
}

@keyframes sunrays {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(359deg);
    opacity: 0.5;
  }
}
@keyframes diamond {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes lock {
  0% {
    transform: translateY(-60px);
  }
  75% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(-40px);
  }
}
@keyframes unlock {
  0% {
    transform: translateY(-40px) rotateY(0deg);
  }
  75% {
    transform: translateY(-60px) rotateY(0deg);
  }
  100% {
    transform: translateY(-60px) rotateY(180deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
.gam-modal {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s linear;
}
.gam-modal.--open {
  background-color: rgba(0, 0, 0, 0.65);
}
.gam-modal__inner {
  background: #fff;
  padding: 0;
  width: 520px;
  max-width: 90vw;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.25s ease, opacity 0.25s linear;
  transform: translateY(-200px);
  opacity: 0;
}
.--open .gam-modal__inner {
  transform: translateY(0);
  opacity: 1;
}
.gam-modal__header {
  padding: 30px 30px 20px;
  text-align: center;
}
.gam-modal__body {
  padding: 20px 30px 20px;
  text-align: center;
}
.gam-modal__footer {
  padding: 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.gam-modal__footer .gam-button {
  min-width: 134px;
}
.gam-modal__footer .gam-button:first-child {
  margin-right: auto;
}
.gam-modal__footer .gam-button:last-child {
  margin-left: auto;
}
.gam-modal.gam-modal-prize .gam-modal__header {
  padding-top: 60px;
}
.gam-modal.gam-modal-prize .gam-modal__body {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  flex-wrap: wrap;
  min-height: 180px;
}
.gam-modal.gam-modal-prize .gam-modal__body .gam-subtitle {
  min-width: 100%;
  position: relative;
  top: 60px;
}
.gam-modal.gam-modal-prize .gam-modal__inner {
  position: relative;
}
.gam-modal.gam-modal-prize .gam-modal__inner::before {
  content: "";
  background-image: url(images/prize-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 184px auto;
  animation: sunrays 4s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -102px;
  margin-top: -102px;
  width: 200px;
  height: 200px;
  z-index: 1;
}
.gam-modal.gam-modal-prize .gam-modal__inner::after {
  content: "";
  display: block;
  width: 108px;
  height: 108px;
  background: url(images/prize.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -54px;
  margin-left: -54px;
  pointer-events: none;
  z-index: 5;
  animation: diamond 2s linear infinite;
}
.gam-modal.gam-modal-medal .gam-modal__header {
  padding-top: 60px;
}
.gam-modal.gam-modal-medal .gam-modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 120px;
}
.gam-modal.gam-modal-medal .gam-modal__body .gam-subtitle {
  min-width: 100%;
  position: relative;
  top: 40px;
}
.gam-modal.gam-modal-medal .gam-modal__body .gam-title--2 {
  font-size: 30px;
  text-align: center;
  color: #e67300;
  min-width: 100%;
  margin-top: 100px;
  position: relative;
  top: 40px;
}
.gam-modal.gam-modal-medal .gam-modal__body .gam-medal {
  width: 100%;
  min-height: 0;
}
.gam-modal.gam-modal-medal .gam-modal__inner {
  position: relative;
}
.gam-modal.gam-modal-medal .gam-modal__inner::before {
  content: "";
  background-image: url(images/prize-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 184px auto;
  animation: sunrays 4s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -102px;
  margin-top: -102px;
  width: 200px;
  height: 200px;
  z-index: 1;
}
.gam-modal.gam-modal-medal .gam-modal__inner::after {
  content: "";
  display: block;
  width: 108px;
  height: 108px;
  background: url(images/medal_activity.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -54px;
  margin-left: -54px;
  pointer-events: none;
  z-index: 5;
  animation: pulse 2s linear infinite;
}
.gam-modal.gam-modal-medal.--type-1 .gam-modal__inner::after {
  background-image: url(images/medal_bonus.svg);
}
.gam-modal.gam-modal-medal.--type-2 .gam-modal__inner::after {
  background-image: url(images/medal_diamonds.svg);
}
.gam-modal.gam-modal-lock .gam-modal__inner {
  position: relative;
}
.gam-modal.gam-modal-lock .gam-modal__inner::before {
  content: "";
  background-image: url(images/prize-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 184px auto;
  animation: sunrays 4s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -102px;
  margin-top: -102px;
  width: 200px;
  height: 200px;
  z-index: 1;
}
.gam-modal.gam-modal-lock .gam-modal__body {
  position: relative;
  z-index: 10;
}
.gam-modal.gam-modal-lock .gam-modal__body .gam-lock {
  min-height: 180px;
}
.gam-modal.gam-modal-lock .gam-modal__body .gam-lock::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 86px;
  height: 86px;
  background: url(images/lock-bottom.png) center bottom no-repeat;
  background-size: 86px auto;
}
.gam-modal.gam-modal-lock .gam-modal__body .gam-lock__top {
  display: block;
  background: url(images/lock-top.png) center bottom no-repeat;
  background-size: 72.5px auto;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 50%;
  margin-left: -36px;
  animation: unlock 0.5s linear forwards;
  animation-delay: 0.25s;
  transform-origin: 20px top;
  width: 75px;
  height: 164px;
}
.gam-modal.gam-modal-lock.--unlocked .gam-lock {
  position: relative;
  top: -58px;
}
.gam-modal.gam-modal-lock.--unlocked .gam-subtitle::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 25px;
  background: url(images/prize.png) 0 center no-repeat;
  background-size: contain;
  margin: 2px 0 -2px 8px;
}
.gam-modal.gam-modal-lock.--locked .gam-button {
  border: 1px solid #fff;
}
.gam-modal.gam-modal-lock.--locked .gam-modal__inner {
  background: #2e4469;
  color: #fff;
}
.gam-modal.gam-modal-lock.--locked .gam-modal__inner .gam-title,
.gam-modal.gam-modal-lock.--locked .gam-modal__inner .gam-subtitle {
  color: #fff;
}
.gam-modal.gam-modal-lock.--locked .gam-modal__inner::before {
  content: none;
}
.gam-modal.gam-modal-lock.--locked .gam-modal__body .gam-lock {
  animation: pulse 2s linear infinite;
  animation-delay: 0.25s;
  min-height: 220px;
  margin-top: -100px;
}
.gam-modal.gam-modal-lock.--locked .gam-modal__body .gam-lock__top {
  animation: lock 0.5s linear forwards;
}

.gam-tabs {
  max-width: 100%;
  width: 904px;
  margin: 0 auto;
  padding: 62px 30px 30px;
  border-radius: 10px;
  border: solid 1px #c8c8c8;
  background-color: #efefef;
}
.gam-tabs__list {
  text-align: center;
  margin-top: -86px;
  margin-bottom: 60px;
}
.gam-tabs__list ul {
  border: 4px solid #18be34;
  background: #fff;
  border-radius: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
}
.gam-tabs__list ul li {
  flex-grow: 2;
}
.gam-tabs__list ul a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #008a26;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.52;
  text-align: center;
  min-height: 40px;
  min-width: 150px;
}
.gam-tabs__list ul li.--current a {
  color: #008a26;
  background-color: #fff;
}
.gam-tabs__list ul li:first-child, .gam-tabs__list ul li:first-child a {
  border-radius: 40px 0 0 40px;
}
.gam-tabs__list ul li:last-child, .gam-tabs__list ul li:last-child a {
  border-radius: 0 40px 40px 0;
}
.gam-tabs__content__item {
  display: none;
}
.gam-tabs__content__item.--active {
  display: block;
}

.gam-medals {
  text-align: center;
  margin: 0 0 60px 0;
  color: #3c3c3c;
}
.gam-medals__body {
  min-width: 100%;
  /*display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: -40px;

  & > * {
    width: 20%;
    margin-bottom: 40px;
  }*/
}
.gam-medals__page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: -40px;
}
.gam-medals__page > * {
  width: 20%;
  margin-bottom: 40px;
}
.gam-medals__header {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0 auto 8px;
}

.gam-medal {
  color: #3c3c3c;
}
.gam-medal.--empty {
  flex-grow: 2;
}
.gam-medal__label {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  margin-top: 8px;
}
.gam-medal__icon {
  width: 108px;
  height: 120px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  margin: 0 auto;
}
.--empty .gam-medal__icon {
  filter: grayscale(100);
  opacity: 0.5;
}
.--0 .gam-medal__icon {
  background-image: url(images/medal_activity.svg);
}
.--1 .gam-medal__icon {
  background-image: url(images/medal_bonus.svg);
}
.--2 .gam-medal__icon {
  background-image: url(images/medal_diamonds.svg);
}

.gam-unicard__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 -8px -16px;
}
.gam-unicard__wrapper .gam-unitcard {
  width: 33.333%;
}

.gam-unitcard {
  padding: 0 8px 16px 8px;
  color: #2e4469;
}
.gam-unitcard__inner {
  padding: 15px 16px 16px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
.gam-unitcard__header {
  margin-bottom: 14px;
}
.gam-unitcard__body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.gam-unitcard .gam-progressboard {
  flex-direction: column;
  margin-left: 20px;
}
.gam-unitcard .gam-progressboard__title {
  font-size: 15px;
  font-weight: bold;
}
.gam-unitcard .gam-progressboard__score {
  margin-left: 0;
}
.gam-unitcard .gam-progressboard__label {
  margin-top: 0;
  margin-left: 0;
}
.gam-unitcard .gam-score {
  background-size: 48px auto;
  padding-left: 54px;
}

.glide {
  position: relative;
}

.glide__arrow {
  max-width: 100%;
  border-radius: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  transition-property: color, background-color, background-position, border-color, bgam-shadow, opacity, height;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: #969696;
  width: 50px;
  height: 100px;
  margin-top: -10px;
}
.glide__arrow > span {
  top: 2px;
  white-space: normal;
  display: inline;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 10;
}
.glide__arrow.disabled {
  cursor: default;
}
.glide__arrow input {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  white-space: normal;
}
.glide__arrow .fa {
  color: #fff;
  display: block;
  font-size: 28px;
}
.glide__arrow.--disabled {
  display: none !important;
}
.glide__arrow--left {
  left: -30px;
  border-radius: 0 100px 100px 0;
}
.glide__arrow--left .fa {
  left: -8px;
}
.glide__arrow--right {
  right: -30px;
  border-radius: 100px 0 0 100px;
}
.glide__arrow--right .fa {
  right: -8px;
}

/*# sourceMappingURL=01.main.css.map */
