@font-face {
  font-display: swap;
  font-family: "DejaVu Sans";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/dejavu-sans/DejaVuSans-Bold-webfont.woff") format("woff"), url("fonts/dejavu-sans/DejaVuSans-Bold-webfont.ttf") format("truetype");
}
[class^=gam-] {
  font-family: "DejaVu Sans", sans-serif;
}

body.gam--locked #actividad {
  pointer-events: none !important;
}
body.gam--locked::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9990;
  pointer-events: all;
}

.gam-page {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #b64a02 #fff;
  scrollbar-width: thin;
}
.gam-page::-webkit-scrollbar {
  width: 6px;
}
.gam-page::-webkit-scrollbar-track {
  background: transparent;
}
.gam-page::-webkit-scrollbar-thumb {
  background-color: #b64a02;
  border-radius: 20px;
}

.gam-body-scoreboard .gam-page--scoreboard {
  opacity: 1;
  pointer-events: auto;
}

.gam-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 0.63;
  color: #e67300;
  margin: 0 0 30px;
}
.gam-title span {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 400;
  display: block;
  margin: 0 auto 12px;
}

.gam-subtitle {
  font-size: 21px;
  line-height: 1.52;
  color: #2e4469;
  margin: 0;
}

.gam-button {
  max-width: 100%;
  border-radius: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  transition-property: color, background-color, background-position, border-color, bgam-shadow, opacity, height;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 20px;
  background-color: #395482;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 40px;
}
.gam-button > span {
  top: 2px;
  white-space: normal;
  display: inline;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 10;
}
.gam-button.disabled {
  cursor: default;
}
.gam-button input {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  white-space: normal;
}
.gam-button--icon {
  padding: 0;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.gam-button--icon > span {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.gam-button--icon.--icon--price {
  background-image: url(images/prize.png);
}

.gam-tooltip {
  position: absolute;
  left: 0;
  bottom: 100%;
  background: #fff;
  color: #b64a02;
  border-radius: 100px;
  padding: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s linear, transform 0.3s linear;
}
.gam-tooltip__inner {
  background: #fff;
  padding: 10px 14px;
  border-radius: 100px;
  position: relative;
  z-index: 10;
}
.gam-tooltip.--visible {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, -20px);
}
.gam-tooltip::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 12px solid #fff;
  position: absolute;
  bottom: -12px;
  left: 60px;
  z-index: 1;
}

.gam-score {
  background: url(images/prize.png) 0 center no-repeat;
  background-size: contain;
  min-height: 50px;
  padding: 0 0 0 72px;
}
.gam-score__label {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  display: block;
}
.gam-score__total {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  color: #e67300;
  display: block;
}

.gam-scoreboard-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 2px;
}
.gam-scoreboard-summary > * {
  margin: 0 8px;
}

.gam-score-badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  line-height: 1px;
  color: #e67300;
  font-weight: bold;
  background: url(images/prize.png) 10px center no-repeat #efefef;
  background-size: 40px auto;
  min-height: 56px;
  padding: 5px 10px 5px 64px;
  border-radius: 10px;
}
#actividad .carousel-inner .item-container .header .gam-score-badge {
  position: absolute;
  right: 10px;
  top: 10px;
}

.gam-prize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e67300;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.gam-prize span {
  font-size: 30px;
  line-height: 1em;
  display: block;
}

.gam-modal {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s linear;
}
.gam-modal.--open {
  background-color: rgba(0, 0, 0, 0.65);
}
.gam-modal__inner {
  background: #fff;
  padding: 0;
  width: 520px;
  max-width: 90vw;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.25s ease, opacity 0.25s linear;
  transform: translateY(-200px);
  opacity: 0;
}
.--open .gam-modal__inner {
  transform: translateY(0);
  opacity: 1;
}
.gam-modal__header {
  padding: 30px 30px 20px;
  text-align: center;
}
.gam-modal__body {
  padding: 20px 30px 20px;
  text-align: center;
}
.gam-modal__footer {
  padding: 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.gam-modal__footer .gam-button:first-child {
  margin-right: auto;
}
.gam-modal__footer .gam-button:last-child {
  margin-left: auto;
}
.gam-modal.gam-modal-prize .gam-modal__header {
  padding-top: 60px;
}
.gam-modal.gam-modal-prize .gam-modal__body {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  flex-wrap: wrap;
  min-height: 180px;
}
.gam-modal.gam-modal-prize .gam-modal__body .gam-subtitle {
  min-width: 100%;
  position: relative;
  top: 60px;
}
.gam-modal.gam-modal-prize .gam-modal__inner {
  background-image: url(images/prize-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 184px auto;
}
.gam-modal.gam-modal-prize .gam-modal__inner::after {
  content: "";
  display: block;
  width: 108px;
  height: 108px;
  background: url(images/prize.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.gam-modal.gam-modal-lock .gam-modal__inner {
  background-image: url(images/prize-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 184px auto;
}
.gam-modal.gam-modal-lock .gam-modal__body .gam-lock {
  min-height: 180px;
}

/*# sourceMappingURL=01.main.css.map */
